<div class="container">
  <div class="d-flex flex-column flex-md-row mt-5">
    <div class="d-flex flex-column justify-content-center">
      <h1 class="p-2">Cleto May</h1>
      <div class="p-2">
        Hi! My name is Cleto May. I am passionate family man who loves spending time with his loved ones, exploring new
        destinations, and embracing the latest in technology. My curiosity and zest for life have taken me on countless
        adventures, from hiking trails in remote mountains to indulging in the latest gadgets and apps. I am a
        well-rounded individual with a contagious energy that inspires those around him. Follow along as I share my
        experiences, insights, and tips on how to make the most out of life's precious moments.
      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.instagram.com/cletomay/" class="p-5">
          <i class="fs-2 bi bi-instagram"></i>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <img src="../assets/broklyn-bridge.jpeg" alt="" class="img-fluid">
    </div>
  </div>
</div>